      <footer class="footer footer-center p-4 bg-secondary mt-44 text-base-content">
        <div>
            <p>Copyright © 2023 - All right reserved</p>
        </div>
      </footer>
    </body>
</html>