    <footer class="fixed bottom-0 min-w-full footer footer-center p-2 bg-base-200 text-base-content rounded">
      <nav>
        <div class="h-14 w-48 mt-6">
          <img src="/imgs/logo.jpg">
        </div>
      </nav>
      <aside class="mb-4">
        <p>Copyright © 2024 - designed by DeVries.inc</p>
      </aside>
    </footer>
  </body>
</html>