<html lang="en" data-theme="nord">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hustle!</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/output.css" />
</head>

<body>
  <%- include('partials/toast') -%>
  <div class="hero min-h-screen" style="background-image: url(/imgs/gym.png);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <div class="py-10 flex justify-center"><img src="/imgs/logo.jpg"></div>
        <h1 class="mb-6 text-5xl font-bold text-cyan-50 py-2">Welcome to your Training Dashboard</h1>
        <div class="btn-group">
          <button class="btn" onclick="loginModal.showModal()">Login</button>
          <button class="btn" onclick="signupModal.showModal()">Signup</button>
        </div>
      </div>
    </div>
  </div>
  <dialog id="loginModal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box bg-primary">
      <div class="relative p-4 w-full max-w-md max-h-full">   
        <div class="flex justify-between p-4 md:p-5 rounded-t">
          <h3 class="text-5xl font-semibold text-primary-content">Sign in</h3>
        </div>
        <div class="p-4">
          <form class="space-y-4" action="/login" method="POST">
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-primary-content">Your email</label>
              <input type="email" name="email" id="email" class=" border text-sm rounded-lg block w-full p-2.5 outline-none" required>
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-primary-content">Your password</label>
              <input type="password" name="password" id="password" placeholder="••••••••" class="border text-sm rounded-lg block w-full p-2.5 outline-none" required>
            </div>
            <div class="flex justify-between">
              <a href="/password-reset" class="text-sm text-primary-content">Lost Password?</a>
            </div>
            <button type="submit" class="w-full px-5 py-2.5 text-secondary-content bg-secondary hover:bg-accent">Login to your account</button>
            <div class="text-sm font-medium text-primary-content">
              Not registered? <a href="/signup" class="text-primary-content hover:underline">Signup!</a>
            </div>
          </form>
        </div>      
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <dialog id="signupModal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box bg-primary">
      <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="flex items-center justify-between p-4 md:p-5 rounded-t">
          <h3 class="text-5xl font-semibold text-primary-content">Signup and get started!</h3>
        </div>
        <div class="p-4 md:p-5">
          <form class="space-y-4" action="/signup" method="POST">
            <div>
              <label for="userName" class="block mb-2 text-sm text-primary-content">Choose Username</label>
              <input type="text" name="userName" id="userName" class="border text-sm rounded-lg block w-full p-2.5 outline-none" required>
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm text-primary-content">Your email</label>
              <input type="email" name="email" id="email" class="border text-sm rounded-lg block w-full p-2.5 outline-none" required>
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm text-primary-content">Your password</label>
              <input type="password" name="password" id="password" placeholder="••••••••" class="border text-sm rounded-lg block w-full p-2.5 outline-none" required>
            </div>
            <div>
              <label for="confirmPassword" class="block mb-2 text-sm text-primary-content">Confirm password</label>
              <input type="password" name="confirmPassword" id="confirmPassword" placeholder="••••••••" class="border text-sm rounded-lg block w-full p-2.5 outline-none" required>
            </div>
            <div class="form-control mt-6">
              <button class="btn text-secondary-content bg-secondary hover:bg-accent">Signup</button>
            </div>
            <div class="text-sm font-medium text-primary-content">
              Already registered? <a href="/login" class="hover:underline text-primary-content">Sign in here!</a>
            </div>           
          </form>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</body>
</html>