<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hustle!</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/output.css" />
</head>

<body>
  <%- include('partials/toast') -%>
  <div class="hero min-h-screen" style="background-image: url(/imgs/gym.png);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <div class="py-10 flex justify-center"><img src="/imgs/logo.jpg"></div>
        <h1 class="mb-6 text-5xl font-bold text-cyan-50 py-2">Welcome to your Training Dashboard</h1>
        <div class="btn-group">
          <button class="btn" onclick="loginModal.showModal()">Login</button>
          <button class="btn" onclick="signupModal.showModal()">Signup</button>
        </div>
      </div>
    </div>
  </div>

  <dialog id="loginModal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <div class="relative p-4 w-full max-w-md max-h-full">   
        <div class="flex justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Sign in to your Dasboard</h3>
        </div>
        <div class="p-4">
          <form class="space-y-4" action="/login" method="POST">
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
              <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
              <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div class="flex justify-between">
              <a href="/password-reset" class="text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>
            </div>
            <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login to your account</button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
              Not registered? <a href="/signup" class="text-blue-700 hover:underline dark:text-blue-500">Signup!</a>
            </div>
          </form>
        </div>      
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <dialog id="signupModal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Signup and get started!
          </h3>
        </div>
        <div class="p-4 md:p-5">
          <form class="space-y-4" action="/signup" method="POST">
            <div>
              <label for="userName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Choose Username</label>
              <input type="text" name="userName" id="userName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
              <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
              <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text"> Confirm Password</span>
              </label>
              <input type="password" placeholder="••••••••" class="input input-bordered" id="confirmPassword" name="confirmPassword" />
            </div>
            <div class="form-control mt-6">
              <button class="btn btn-info hover:bg-primary">Signup</button>
            </div>
            <div class="flex items-center h-5">
              <input id="remember" name="remember" type="hidden" value="false" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800">
            </div>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
              Already registered? <a href="/login" class="text-blue-700 hover:underline dark:text-blue-500">Sign in here!</a>
            </div>           
          </form>
        </div>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>

</html>