<%- include('partials/header') -%>
<main>
  <%- include('partials/toast') -%>
  <section class="col-6 mt-5">
    <form action="/passwordReset/passwordResetCheck" method="POST">
      <div class="hero min-h-screen" style="background-image: url(/imgs/gym.png);">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div><img src="/imgs/logo.jpg">
          </div>
          
          <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-secondary">
            <div class="card-body">
              <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Enter Email</h1>
                <p class="py-6">If email is found you will recieve a link to reset your password!</p>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Email</span>
                </label>
                <input type="email" name="email" id="email" placeholder="" class="input input-bordered" aria-describedby="email" required/>
              </div>                 
              <div class="form-control mt-6">
                <button class="btn btn-info hover:bg-primary">Send</button>
              </div>
              <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Not registered? <a href="/signup" class="text-blue-700 hover:underline dark:text-blue-500">Signup!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>
<%- include('partials/footer') -%>