<%- include('partials/header') -%>
<main>
  <section class="col-6 mt-5">
    <%- include('partials/toast') -%>
    <form action="/signup" method="POST">
      <div class="hero min-h-screen" style="background-image: url(/imgs/gym.png);">
        <div class="hero-content">
          <div class="max-w-md">
            <div class="py-10 flex justify-center"><img src="/imgs/logo.jpg">
            </div> 
            <div class="card flex-shrink-0 w-full shadow-2xl bg-primary">
              <div class="card-body">
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Username</span>
                  </label>
                  <input type="text" placeholder="you@gmail.com" class="input input-bordered" id="userName" name="userName"/>
                </div>                   
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Email</span>
                  </label>
                  <input type="email" placeholder="you@gmail.com" class="input input-bordered" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
                </div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Password</span>
                  </label>
                  <input type="password" placeholder="••••••••" class="input input-bordered" id="password" name="password"/>
                </div>                     
                <div class="form-control">
                  <label class="label">
                    <span class="label-text"> Confirm Password</span>
                  </label>
                  <input type="password" placeholder="••••••••" class="input input-bordered" id="confirmPassword" name="confirmPassword" />
                  <label class="label">
                    <a href="/login" class="label-text-alt link link-hover">Already A Member?</a>
                  </label>
                </div>
                <div class="form-control mt-6">
                  <button class="btn btn-info hover:bg-primary">Signup</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>
<%- include('partials/footer') -%>